*.lib
AI-Enjmin/_engine/
*.obj
*.dll
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.filters
*.user
*.vcxproj
*.bat
*.idb
*.txt
GridGenerator/
*.sdf
*.sln
*.suo
AI-Enjmin/_minecraft/minecraft.opensdf
*.lastcodeanalysissucceeded
*.xml
AI-Enjmin/_minecraft/base.psess
AI-Enjmin/_minecraft/base1.psess
AI-Enjmin/_minecraft/base140823(1).vsp
AI-Enjmin/_minecraft/base140823(2).vsp
AI-Enjmin/_minecraft/base140823.vsp
AI-Enjmin/_minecraft/base2.psess
