*.lib
AI-Enjmin/_engine/
*.obj
*.dll
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.filters
*.user
*.vcxproj
*.bat
*.idb
*.txt
GridGenerator/
*.sdf
*.sln
*.suo
AI-Enjmin/_minecraft/minecraft.opensdf
*.lastcodeanalysissucceeded
*.xml
